{% extends 'main_app/base.html' %}

{% block admin_rail %}
  {% include 'admin_template/includes/dashboard_rail.html' %}
{% endblock %}

{% block admin_meta %}
  {% include 'admin_template/includes/dashboard_meta.html' %}
{% endblock %}
{% block content %}
<section class="app-section app-section--dashboard">
  <div class="app-section-inner">
    <div class="app-dashboard">
      <aside class="app-dashboard__rail">{% block admin_rail %}{% endblock %}</aside>
      <main class="app-dashboard__main">{% block admin_content %}{% endblock %}</main>
      <aside class="app-dashboard__meta">{% block admin_meta %}{% endblock %}</aside>
    </div>
  </div>
</section>
{% endblock %}
